---
layout: page
title: Projects
permalink: /projects/
---

<p>My current project is a storytelling game to play with friends.</p>

<ul class="project-list">
  {% for project in site.data.projects %}
  <li>
    <h2>{{ project.name | escape }}</h2>
    <p>{{ project.description | escape }}</p>
    {% if project.details %}<p>{{ project.details | escape }}</p>{% endif %}
    <p><a href="{{ project.url | escape }}">{{ project.link_text | default: project.name | escape }}</a></p>
  </li>
  {% endfor %}
</ul>
