<header class="site-header wrapper">
  <a class="site-title" rel="author" href="{{ '/' | relative_url }}" aria-label="Maciek Codes home">maciek.codes</a>
  <nav class="site-navigation" aria-label="Main navigation">
    <a href="{{ '/' | relative_url }}"{% if page.layout == 'home' or page.layout == 'post' %} aria-current="{% if page.layout == 'home' %}page{% else %}true{% endif %}"{% endif %}>blog</a>
    {% for path in site.header_pages %}
      {% assign nav_page = site.pages | where: 'path', path | first %}
      {% if nav_page.title %}
        <a href="{{ nav_page.url | relative_url }}"{% if page.url == nav_page.url %} aria-current="page"{% endif %}>{{ nav_page.nav_title | default: nav_page.title | downcase | escape }}</a>
      {% endif %}
    {% endfor %}
  </nav>
</header>
