---
layout: default
---
<section class="intro" aria-labelledby="maciek-kumorek">
  {{ content }}
</section>
<section class="writing" aria-labelledby="writing-heading">
  <h2 id="writing-heading">{{ page.list_title | default: 'Blog' | escape }}</h2>
  <ul class="post-list">
    {% for post in site.posts %}
    <li class="post-entry">
      <h3><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h3>
      <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: '%Y-%m-%d' }}</time>
      {% if site.show_excerpts %}<p>{{ post.excerpt | strip_html | truncatewords: 28 }}</p>{% endif %}
    </li>
    {% endfor %}
  </ul>
</section>
